:root {
  --bgcolor: rgb(231, 231, 149);
  --busitemcolor: rgb(225, 207, 207);
  --border5: solid 5px black;
  --border2: solid 2px black;
  --linkcolor: rgb(239, 228, 10);
}

#alert-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 20%;
  background-color: white;
  border: var(--border5);
  border-radius: 10px;
  overflow: none;
  text-align: center;
  display: none;
  z-index: 9999;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#alert-message {
  text-align: center;
  font-size: 20px;
}

#alert-window-info-wrapper {
  margin-bottom: 2%;
  font-size: 1rem;
}

#accept-alert-btn {
  cursor: pointer;
  width: 40%;
  padding: 2.5%;
  border: none;
  border-radius: 5px;
  background: rgb(255, 222, 0);
  background: radial-gradient(circle, rgba(255, 222, 0, 1) 20%, rgba(207, 151, 102, 1) 83%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 750;
  transform: scale(1);
  transition: transform 0.3s;
}

#accept-alert-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
