@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--colorscheme3);
  background: radial-gradient(circle, var(--colorscheme3) 45%, var(--colorscheme1) 76%);
  font-family: "Noto Sans", sans-serif;
  overflow-y: hidden;
  user-select: none;
  scroll-behavior: smooth;
  color: var(--colorscheme4);
}

a {
  color: var(--linkcolor);
  text-decoration: none;
  cursor: pointer;
}

option {
  font-family: "Lato", sans-serif;
  color: var(--colorscheme4);
  background-color: var(--colorscheme3);
}

.tints {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 20, 0.605);
  display: none;
}

.navbar {
  width: 20%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  z-index: 25;

  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: var(--colorscheme2);
  border-bottom: var(--border2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-item {
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  cursor: pointer;
}

.closegui {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.btns {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: var(--colorscheme4);
  background: radial-gradient(circle, var(--colorscheme4) 38%, var(--colorscheme3) 100%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 750;
  transform: scale(1);
  transition: transform 0.3s;
}

.btns:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

#vars {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-screen {
  width: 100%;
  height: 90%;
}

#vars-wrapper {
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--colorscheme2);
  border-bottom: var(--border2);
}

.vars-item {
  font-size: 2rem;
  padding: 10px;
  padding-top: 5px;
  border-right: var(--border2);
  width: 85%;
  height: 7.5%;
  text-align: center;
}

#clicks {
  border-right: none;
}

#main {
  display: block;
}

#clicker {
  background-color: var(--colorscheme2);
  border: var(--border5);
  width: 60vw;
  height: 65vh;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clicker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--colorscheme3);
}
