@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --bgcolor: rgb(231, 231, 149);
  --busitemcolor: rgb(225, 207, 207);
  --border5: solid 5px black;
  --border2: solid 2px black;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
  font-family: "Lato", sans-serif;
  overflow-y: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.open-nav {
  position: absolute;
  top: 47%;
  box-shadow: 0 10px 24px 0px rgba(226, 137, 137, 0.884);
  padding: 10px;
  background-color: rgba(249, 227, 79, 0.662);
  cursor: pointer;
  transition: transform 0.3s;
}

.open-nav:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.navbar {
  width: 50px;
  height: 100%;
  border-bottom: var(--border2);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 0;
  opacity: 0;
  margin-left: 25px;
}

.animation-nav-show {
  animation: show-nav 0.3s ease-in-out;
}

.animation-nav-hide {
  animation: hide-nav 0.3s ease-in-out;
}

@keyframes show-nav {
  0% {
    display: flex;
    margin-left: -100px;
  }
  100% {
    margin-left: 25px;
  }
}

@keyframes hide-nav {
  0% {
    margin-left: 25px;
  }
  100% {
    margin-left: -100px;
  }
}

.nav-item {
  margin-left: 50px;
  border-left: var(--border2);
  border-right: var(--border2);
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  background-color: rgba(238, 149, 125, 0.658);
}

.nav-item:hover {
  transform: scale(1.01);
  background-color: wheat;
  transition: transform 0.3s, background-color 0.3s;
}

.closegui {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.bus-item {
  background-color: var(--busitemcolor);
  border: var(--border5);
  width: 100px;
  height: 200px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 50px;
  text-align: center;
  padding-top: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

.bus-item:hover {
  transform: scale(1.05);
  background-color: wheat;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

#vars {
  width: 25%;
  border-right: var(--border5);
  height: 650px;
}

.vars-item {
  font-size: 2.25vw;
  background-color: white;
  padding: 10px;
  padding-top: 5px;
  border: solid 2px black;
  width: 85%;
  height: 7.5%;
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: row;
}

#clicker {
  background-color: white;
  border: var(--border5);
  width: 25%;
  height: 400px;
  margin-top: 120px;
  margin-left: 50px;
  border-radius: 1000px;
}

#here-click {
  position: absolute;
  top: -2%;
  left: 34.5%;
  text-align: center;
  font-size: 3vw;
}
