.tooltip {
  position: absolute;
  top: 8vh;
  opacity: 0;
  background-color: rgb(134, 134, 134);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  pointer-events: none;
  letter-spacing: 0.25px;
  font-size: small;
}

.nav-item:hover .tooltip {
  opacity: 1;
  transition-duration: 0.5s;
}
