:root {
  --bgcolor: rgb(231, 231, 149);
  --busitemcolor: rgb(225, 207, 207);
  --border5: solid 5px black;
  --border2: solid 2px black;
}

.upgrade-item {
  background-color: var(--busitemcolor);
  border: var(--border5);
  width: 100px;
  height: 200px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 45px;
  text-align: center;
  padding-top: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

.upgrade-item:hover {
  transform: scale(1.05);
  background-color: wheat;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

#upgrades {
  position: absolute;
  top: 10%;
  left: 17%;
  background-color: white;
  width: 70vw;
  height: 500px;
  border: var(--border5);
  border-radius: 20px;
  display: none;
  flex-direction: column;
}

#upgr-menu-header {
  text-align: left;
  position: absolute;
  left: 5%;
  font-size: 35px;
}

#upgr-menu-category-name {
  position: absolute;
  top: 12%;
  left: 10.1%;
  font-size: 20px;
}

#upgr-menu-category {
  font-weight: 200;
}

#upgr-menu-title-wrapper {
  width: 100%;
  height: 25%;
}

#upgr-menu-main-section-wrapper {
  width: 100%;
  height: 75%;
}

#upgr-menu-not-ready-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#upgr-menu-other-categories {
  display: none;
}

#upgr-menu-category-dropdown {
  font-family: "Lato", sans-serif;
  background-color: rgb(88, 84, 84);
  border-radius: 5px;
  background: rgb(255, 222, 0);
  background: radial-gradient(circle, rgba(255, 222, 0, 1) 20%, rgba(207, 151, 102, 1) 83%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  border: var(--border2);
  color: white;
  font-weight: 200;

  margin-left: 1.5vh;
  padding: 5px;
}

#upgr-menu-main-section-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1px;
}

.upgr-menu-vehicle-type-item {
  height: 20%;
  width: 100%;
  border-top: var(--border2);
  border-bottom: var(--border2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upgr-menu-vehicle-type-item-header {
  font-size: 3vh;
}

.upgr-menu-vehicle-type-item-is-avaible {
  color: red;
}

.upgr-menu-vehicle-type-item-btn {
  margin-right: 5%;
  cursor: pointer;
  width: 15vh;
  padding: 5%;
  border: none;
  border-radius: 5px;
  background: rgb(255, 222, 0);
  background: radial-gradient(circle, rgba(255, 222, 0, 1) 20%, rgba(207, 151, 102, 1) 83%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 750;
  transform: scale(1);
  transition: transform 0.3s;
}

.upgr-menu-vehicle-type-item-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

#upgr-menu-vehicle-type-table {
  width: 100%;
  border-collapse: collapse;
}

#upgr-menu-vehicle-type-table th {
  border-top: var(--border2);
  border-bottom: var(--border2);
}

.upgr-menu-vehicle-type-item-header {
  width: 40%;
  text-align: left;
  padding-left: 2%;
}

.upgr-menu-vehicle-type-item-price {
  width: 20%;
}

.upgr-menu-vehicle-type-item-is-avaible {
  width: 20%;
}

.upgr-menu-vehicle-type-item-btn-wrapper {
  width: 20%;
}

#confirm-upgrade-dialog {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 40%;
  height: 30%;
  background-color: white;
  border: var(--border5);
  border-radius: 10px;
  overflow: auto;
  display: none;
}

#confirm-upgrade-dialog-text {
  font-size: 1rem;
  text-align: center;
}

#confirm-upgr-btn {
  margin-left: 5%;
  cursor: pointer;
  width: 15vh;
  padding: 2.5%;
  border: none;
  border-radius: 5px;
  background: rgb(255, 222, 0);
  background: radial-gradient(circle, rgba(255, 222, 0, 1) 20%, rgba(207, 151, 102, 1) 83%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 750;
  transform: scale(1);
  transition: transform 0.3s;
}

#confirm-upgr-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

#cancel-upgr-btn {
  margin-right: 5%;
  cursor: pointer;
  width: 15vh;
  padding: 2.5%;
  border: none;
  border-radius: 5px;
  background: rgb(255, 222, 0);
  background: radial-gradient(circle, rgba(255, 222, 0, 1) 20%, rgba(207, 151, 102, 1) 83%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 750;
  transform: scale(1);
  transition: transform 0.3s;
}

#cancel-upgr-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

#confirm-upgrade-dialog-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#msg-confirm-upgrade {
  text-align: center;
  color: red;
  margin-top: -5%;
  margin-bottom: 5%;
}

#confirm-uppgrade-dialog-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
