#buy-vehicle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colorscheme2);
  width: 70vw;
  height: 70vh;
  border: var(--border5);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  z-index: 800;
}

#buy-menu {
  background-color: var(--colorscheme2);
  border: var(--border5);
  border-radius: 20px;
  width: 30vw;
  height: 35vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: none;
}

#small-input {
  width: 50%;
  height: 3vh;
  padding: 1vh;
  border: var(--border2);
  border-radius: 5px;
  background: var(--colorscheme4);
  background: radial-gradient(circle, var(--colorscheme4) 38%, var(--colorscheme3) 100%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  padding: 5px;
  color: var(--colorscheme2);
  font-weight: 100;
}

#small-input::placeholder {
  color: var(--colorscheme2);
  font-family: "Lato", sans-serif;
}

#small-input:focus {
  outline: none;
  border: var(--border2);
}

#buy-menu-header {
  margin-left: 0.5vw;
}

#buy-menu-desc {
  text-align: left;
  margin-left: 0.5vw;
}

#buy-menu-bottom-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#buy-menu-middle-row {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#buy-menu-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#buy-menu-input-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 0.5vw;
  gap: 0.5rem;
  width: 100%;
}

#buy-menu-max-button {
  width: calc(auto + 10%);
  height: 4.75vh;
  font-weight: 500;
  border: var(--border5);
  color: var(--colorscheme2);
}

#buy-menu-total-cost {
  position: absolute;
  left: 5%;
  top: 71%;
  text-align: left;
  width: 60%;
  height: 5vh;
}

#finish-operation-btn {
  border: var(--border5);
  border-radius: 10px;
  background: var(--colorscheme4);
  background: radial-gradient(circle, var(--colorscheme4) 38%, var(--colorscheme3) 100%);
  width: 25%;
  height: 5vh;
  position: absolute;
  top: 75%;
  left: 70%;
  transition: background-color 0.3s, transform 0.3s;
  color: black;
}

#finish-operation-btn:hover {
  transform: scale(1.05);
  background-color: wheat;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

#done-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  #buy-menu {
    width: 80vw;
    height: 35vh;
  }

  #buy-menu-total-cost {
    position: absolute;
    left: 5%;
    top: 71%;
    text-align: left;
    width: 60%;
    height: 5vh;
  }

  #buy-menu-max-button {
    width: calc(auto + 10%);
    height: 4.4vh;
    font-weight: 500;
    border: var(--border5);
    color: var(--colorscheme2);
  }
}

.not-ready {
  color: red;
  font-weight: 400;
}

/* NEW STYLES */

#vhcl-menu-header {
  text-align: left;
  position: absolute;
  left: 5%;
  font-size: 2rem;
}

#vhcl-menu-category-name {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#vhcl-menu-subcategory-name {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#vhcl-menu-dropdowns-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 10%;
  gap: 1rem;
}

.vhcl-menu-dropdowns {
  border: none;
  border-radius: 5px;
  background: var(--colorscheme4);
  background: radial-gradient(circle, var(--colorscheme4) 38%, var(--colorscheme3) 100%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 300;
  color: var(--colorscheme2);

  margin-left: 1.5vh;
  padding: 5px;
}

.vhcl-menu-dropdowns:focus {
  outline: none;
  border: none;
}

#vhcl-menu-not-ready-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}

#vhcl-menu-other-categories {
  display: none;
}

#vhcl-menu-main-section-wrapper {
  overflow: auto;
  width: 100%;
  height: 75%;
  border-radius: 3px;
}

#vhcl-menu-bus-sub-citybus-category {
  display: block;
}

#vhcl-menu-bus-sub-hydrogen-category {
  display: none;
}

#vhcl-menu-bus-sub-intercity-category {
  display: none;
}

#vhcl-menu-title-wrapper {
  width: 100%;
  height: 25%;
}

.vhcl-menu-btn {
  margin-right: 5%;
  cursor: pointer;
  width: 8vw;
  padding: 5%;
  border: none;
  border-radius: 5px;
  background: var(--colorscheme4);
  background: radial-gradient(circle, var(--colorscheme4) 38%, var(--colorscheme3) 100%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 750;
  transform: scale(1);
  transition: transform 0.3s;
}

.vhcl-menu-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.vhcl-menu-tables {
  width: 100%;
  border-collapse: collapse;
}

.vhcl-menu-tables tr {
  border-top: var(--border2);
}

.vhcl-menu-tables tr:not(:last-child) {
  border-bottom: var(--border2);
}

.vhcl-menu-name {
  width: 40%;
  text-align: left;
  padding-left: 2%;
  font-size: 2.75vh;
}

.vhcl-menu-price {
  width: 20%;
}

.vhcl-menu-btn-wrapper {
  width: 20%;
}

.vhcl-menu-item {
  height: 20%;
  width: 100%;
  border-top: var(--border2);
  border-bottom: var(--border2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#more-buses-indicator {
  text-align: center;
  font-size: 20px;
}

#vhcl-menu-trolleybus-category {
  display: none;
}

#vhcl-menu-tram-category {
  display: none;
}

@media screen and (max-width: 768px) {
  #buy-vehicle {
    width: 90vw;
    height: 80vh;
  }

  #vhcl-menu-dropdowns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    gap: 0rem;
  }

  #vhcl-menu-subcategory-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 40%;
    left: 0%;
  }

  .vhcl-menu-name {
    font-size: 1rem;
  }

  .vhcl-menu-btn {
    padding: 2vh;
    width: 15vw;
  }

  .vhcl-menu-price,
  .vhcl-menu-citybus-clickmod-boost,
  .vhcl-menu-citybus-income-boost {
    display: block;
    width: 100%;
    height: 33%;
    text-align: left;
    padding-left: 2%;
    margin: 0.25rem 0;
  }

  .vhcl-menu-btn-wrapper {
    width: 20%;
  }
}
