#dont-remember-pass-link {
  color: var(--linkcolor);
  text-decoration: none;
  font-weight: 600;
  position: absolute;
  bottom: 14%;
  cursor: pointer;
}

#dont-remember-pass-link:visited {
  color: var(--linkcolor);
}

#accMenuInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

#accountbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--colorscheme2);
  width: 70vw;
  height: 70vh;
  border: var(--border5);
  border-radius: 20px;
  flex-direction: column;
  display: none;
  z-index: 800;
  transform-origin: center center;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

#accWelcome {
  text-align: left;
  position: absolute;
  left: 5%;
  font-size: 2.5rem;
}

#email-wrap {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 1.25rem;
}

#acc-btn-wrapper {
  position: absolute;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 10%;
}

.btns-acc-window {
  width: 325%;
  padding-top: 12%;
  padding-bottom: 12%;
  margin-bottom: 15%;
}

#delete-account-btn {
  background: rgb(255, 17, 0);
  background: linear-gradient(135deg, rgba(255, 17, 0, 1) 0%, rgba(232, 110, 3, 1) 100%);
}

#areYouSureWrapper {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  position: absolute;
  top: -20%;
  left: 40%;
  background-color: var(--colorscheme2);
  width: 50%;
  height: 50%;
  border: var(--border5);
  border-radius: 20px;
  flex-direction: column;
  display: none;
  z-index: 9999;
  padding: 10px;
  font-size: 2.5vh;
}

#are-you-sure-desc {
  text-align: left;
  font-size: 2.25vh;
  margin-bottom: -3%;
  font-weight: 400;
}

#are-you-sure-warning {
  text-align: left;
  font-size: 2.5vh;
  font-weight: 1000;
  margin-bottom: -1%;
  color: red;
}

#are-you-sure-btn-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10%;
  right: 5%;
  max-width: 29%;
}

.are-you-sure-btns {
  width: 100%;
  padding: 10%;
  margin-right: 2vh;
}

#are-you-sure-confirm-btn {
  background: rgb(255, 17, 0);
  background: linear-gradient(135deg, rgba(255, 17, 0, 1) 0%, rgba(232, 110, 3, 1) 100%);
}

.inputs {
  width: 60%;
  padding: 2.5%;
  border-radius: 5px;
  margin-top: 2.5vh;
  border: var(--border2);
  background-color: var(--colorscheme3);
  color: var(--colorscheme4);
}

.inputs::placeholder {
  color: var(--colorscheme4);
}

.inputs:focus {
  outline: none;
  border: var(--border2);
}

#input-msg {
  font-size: 2vh;
  color: red;
  position: absolute;
}

#input-msg-change-pass {
  font-size: 2vh;
  color: red;
  position: absolute;
}

#changePassWrapper {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  position: absolute;
  top: -20%;
  left: 40%;
  background-color: var(--colorscheme2);
  width: 50%;
  height: 50%;
  border: var(--border5);
  border-radius: 20px;
  flex-direction: column;
  display: none;
  z-index: 9999;
  padding: 1vw;
  font-size: 2.5vh;
}

#change-pass-input-wrapper {
  display: flex;
  flex-direction: column;
}

#change-pass-new-input {
  margin-top: 1.5vh;
}

#change-pass-btn-wrapper-wrapper {
  display: flex;
  align-items: center;
  margin-top: -7%;
}

#change-pass-btn-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5%;
  max-width: 30%;
}

.change-pass-btns {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 15%;
  margin-left: 5%;
}

@media screen and (hover: none) {
  .change-pass-btns:hover {
    transform: scale(1);
  }

  .btns-acc-window:hover {
    transform: none;
  }

  .are-you-sure-btns:hover {
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  #accountbox {
    width: 90vw;
    height: 80vh;
  }

  #email-wrap {
    top: 23%;
  }

  .btns-acc-window {
    width: 80vw;
    height: 5vh;
  }

  #changePassWrapper {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    height: 45%;
    width: 90%;
  }

  #change-pass-input-wrapper {
    width: 100%;
    position: absolute;
    left: 10%;
    top: 52%;
    transform: translateY(-50%);
  }

  #dont-remember-pass-link {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
  }

  .inputs {
    width: 70%;
  }

  .change-pass-btns {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  #change-pass-btn-wrapper {
    width: 100%;
    position: absolute;
    left: 10%;
    top: 80%;
  }

  #input-msg-change-pass {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-50%);
  }

  #change-pass-title {
    position: absolute;
    left: 10%;
  }

  #areYouSureWrapper {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    height: 43%;
    width: 90%;
  }

  #are-you-sure-title {
    font-size: 1.4rem;
  }

  #are-you-sure-desc {
    font-size: 1.1rem;
    margin-top: 0;
  }

  #are-you-sure-warning {
    font-size: 1.1rem;
  }

  #are-you-sure-btn-wrapper {
    width: 100%;
    height: 17%;
    position: absolute;
    top: 80%;
    left: 5%;
  }
}
