#codes-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 30%;
  height: 20%;
  background-color: var(--colorscheme2);
  border: var(--border5);
  border-radius: 10px;
  overflow: auto;
  display: none;
  z-index: 1000;
  transform-origin: center center;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

#code-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12.5%;
}

#code-menu-info {
  text-align: center;
  font-size: 20px;
}

#close-codes-gui-btn {
  position: absolute;
  top: 10%;
  right: 3%;
  cursor: pointer;
}

#code-menu-title {
  font-size: 1.5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#code-menu-msgbox {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: red;
}

#code-menu-input {
  position: absolute;
  top: 55%;
  left: 40%;
  width: 60%;
  color: var(--colorscheme4);
  transform: translate(-50%, -50%);
  margin-top: 2.5vh;
}

#code-menu-confirm-btn {
  position: absolute;
  top: 52%;
  left: 75%;
  width: 20%;
  height: 30%;
}

@media screen and (max-width: 768px) {
  #codes-menu {
    width: 80vw;
  }
}
