#settings-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--colorscheme2);
  width: 70vw;
  height: 70vh;
  border: var(--border5);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  z-index: 800;
  transform-origin: center center;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

#settings-menu-title {
  text-align: left;
  position: absolute;
  left: 5%;
  font-size: 2rem;
}

#settings-theme-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}

#settings-menu-theme-text {
  font-size: 1.25rem;
  font-weight: 500;
}

#settings-theme-items {
  position: relative;
  left: -8.5%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 3rem;
  gap: 1rem;
}

.settings-theme-item {
  min-width: 15vh;
  height: 15vh;
  border-radius: 10px;
  cursor: pointer;
  margin: 2%;
  background-color: var(--colorscheme4);
  box-shadow: 0 0.5vw 1vh 0 rgba(39, 38, 38, 0.473);
  border: var(--border5);
  transform: scale(1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.settings-theme-item:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
}

@media screen and (hover: none) {
  .settings-theme-item:hover {
    transform: scale(1);
  }
}

.settings-theme-name {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  width: 100%;
  bottom: -4rem;
}

#settings-theme-items::-webkit-scrollbar {
  height: 8px;
}

#lang-dropdown {
  border: none;
  border-radius: 5px;
  background: var(--colorscheme4);
  background: radial-gradient(circle, var(--colorscheme4) 38%, var(--colorscheme3) 100%);
  box-shadow: 0 8px 24px 0 rgba(39, 38, 38, 0.473);
  font-weight: 300;
  color: var(--colorscheme2);
  font-size: 1rem;
  text-align: center;
  margin-left: 10%;
  height: 5vh;
  width: 20vw;
}

#lang-dropdown:focus {
  outline: none;
  border: none;
}

#lang-title-wrap {
  font-size: 1.25rem;
  font-weight: 600;
}

#lang-options-wrapper {
  position: absolute;
  top: 75%;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sound-switch-wrapper {
  position: absolute;
  top: 85%;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sound-title-wrap {
  font-size: 1.25rem;
  font-weight: 600;
}

#switch-wrapper {
  margin-left: 10%;
}

/* Switch */
/* From Uiverse.io by gharsh11032000 */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--colorscheme3);
  border-radius: 50px;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  inset: 0;
  background-color: var(--colorscheme1);
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: var(--colorscheme4);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--colorscheme4);
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}

@media screen and (max-width: 768px) {
  #settings-menu {
    width: 90vw;
    height: 80vh;
  }

  #settings-menu-title {
    position: absolute;
    top: -2.5%;
    left: 8%;
  }

  #settings-menu-theme-text {
    position: absolute;
    top: 12%;
    left: 10%;
  }

  #settings-theme-items {
    gap: 2rem;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 10%;
  }

  #lang-dropdown {
    width: 40vw;
  }

  #lang-options-wrapper {
    left: 10%;
  }

  #sound-switch-wrapper {
    left: 10%;
  }

  .settings-theme-item {
    width: 3vw;
    min-height: 10vh;
    margin: 1.5%;
  }

  .settings-theme-name {
    bottom: -3rem;
  }
}
